@font-face {
    font-family: 'Audiowide-Regular';
    src: url(../fonts/Audiowide-Regular.ttf);
}
@font-face {
    font-family: 'DMMono-Regular';
    src: url(../fonts/DMMono-Regular.ttf);
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter-Regular.ttf);
}